<!DOCTYPE html>
<html lang="{{ site.lang | default: "ru-RU" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/zoom.css" rel="stylesheet">
    <script src="js/zoom.js"></script>

{% seo %}
    {% include head-custom.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>{{ page.title | default: site.title }}</h1>
          <h2>{{ page.description | default: site.description }}</h2>
        </header>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
        Email: chiginitra007 at mail.ru<br>
        VK: <a href="https://vk.com/chiginitra">vk.com/chiginitra</a>
        </footer>

      </div>
    </div>
  </body>
</html>
